div#content {
    padding-top: 2em;
    padding:1em;
}

/* watch */

#watch_col_player, #watch_col_form {
	float:left;
	width:800px;
	margin-top:10px;
}

#watch_controls {
	margin-top:1em;
	margin-right:5em;
	float:right;
}

#watch_time {
	margin-top:0.8em;
	margin-bottom:0.5em;
}

#currentTime{
	float:left;
	width:100px;
}

#wt_2, div#skip_time_remaining {
	float:left;
	margin-left:2em;
}

#wt_2, div#skip_time_more {
    float:left;
    margin-left:1em;
}

a.bookmark, a.bookmark:visited {
	text-decoration:none;
	font-family:verdana;
	font-size:10pt;
}

a.bookmark:hover {
	color: #ff0000;
	text-decoration:underline;
}

a.bookmark_0 {
    color: #009900;
}

a.bookmark_5 {
    color: #FF6633;
}

a.bookmark_10 {
    color: #FF0000;
}

a.bookmark_15 {
    color: #FF0000;
    font-weight: bold;
}


a.bookmark_hot, a.bookmark_hot:visited
{
	color: red;
}

a.bookmark_auto, a.bookmark_auto:visited
{
    background-color: #325AD1;
    color:#FFF;
    font-weight: bold;
}

a.current_keyword {
    background-color: aqua;
}

a.current_keyword_live {
    font-variant: small-caps;
    font-weight: bold;
    color: wheat;
    background-color: brown;
}

#txt_description {
	width:721px;
	height:560px;
	margin-bottom: 5px;
}

#media_info_display {
	clear:both;
	display:block;
	border:1px solid;
	background-color: #ffffbb;
	padding:1em;
    text-align: center;
	display:none;
}

/* auto complete */

.container { width: 400px; margin: 0 auto; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }


/* search */

#search_box {
	margin:4em auto;
	text-align:center;
}

#search_box select {
	width:100px;
}

/* Tag Cloud*/

#tagcloud a {
    text-decoration: none;
}

#tagcloud a:hover {
    background-color:#ffcc00;
}

#tagcloud {
    margin: 25px auto;
    font: 75% Arial, "MS Trebuchet", sans-serif;
}
